#SlideStack{
	/*
	-fx-background-image : url("../splash/Splash_Screen.png");
	-fx-background-color: transparent;
    -fx-background-position: center center;
    -fx-background-size : stretch;*/
    
    -fx-background-color: linear-gradient(to bottom, #c7b299 0%,#d9cbba 18%,#ede6de 40%,#f8f5f2 54%,#ffffff 67%,#fdfcfb 73%,#f2ede7 82%,#e0d5c7 91%,#c7b29a 100%);
    
    -fx-fill : #A0DCFF ;
}

.intro .introTitle {
	-fx-font : 100px "mizike";
	-fx-fill: #CCCCCC;
}

.Slide {
	 -fx-background-color: linear-gradient(to bottom, #c7b299 0%,#d9cbba 18%,#ede6de 40%,#f8f5f2 54%,#ffffff 67%,#fdfcfb 73%,#f2ede7 82%,#e0d5c7 91%,#c7b29a 100%);
}

.content {
	-fx-padding : 20px 50px 20px 50px;
	
	-fx-background-image : url("../images/base/Background_Content.png");
	-fx-background-position: stretch;
	-fx-background-repeat : repeat-x  ;
	
	-fx-effect: dropshadow( gaussian , rgba(140,111,72, 0.95) , 10 , 0.5 , 0 , 0 );
}


VBox.content {
	/*-fx-padding:30px;*/
}

.item0 {
	-fx-font : 4em "Neuton Cursive";
	-fx-fill : #F7741C;
}

.item1 {
	-fx-font : 2.4em "Neuton Cursive";
	-fx-fill : #665E4C;
}

.item2 {

	-fx-font : 2.4em "Neuton Cursive";
	-fx-fill : #C29D68;
}
 
.link0 {
	-fx-font : 2.4em "Neuton Cursive";
	-fx-fill : #004442;
}
.link1 {
	-fx-font : 2em "Neuton Cursive";
	-fx-fill : #665E4C;
}

/**
 * Me Slide
 */
VBox.me{
	-fx-background-position: 600px 20px, 600px 270px;	
	-fx-background-repeat: no-repeat, no-repeat, no-repeat;
	-fx-background-image : url("../images/me/seb.jpg"), url("../images/me/JRebirth_128x128.png");
}

/**************************************/
/** 			SPLASHES             **/
/**************************************/

.partX .introTitle {
	-fx-font : 80px "White Rabbit";
	-fx-fill: #CCCCCC;
}
.partX{
	-fx-background-image : url("../images/splash/Splash_Screen.png");
	-fx-background-position: center center;
	-fx-background-repeat : no-repeat;
}

.splashContainer, .intro {
   	-fx-background-image : url("../images/splash/Splash_Screen.png");
	-fx-background-position: center center;
	-fx-background-repeat : no-repeat;
}

.splashText{
	-fx-fill : #CCCCCC; /*#A0DCFF ;*/
	-fx-text-alignment : center;
	-fx-font: 65px  "Gorgonzolla";
	/* -fx-padding : 10px;*/
}

.dogfooding .introTitle {
	-fx-font : 70px "White Rabbit";
	-fx-fill: #CCCCCC;
}

/** DogFooding */
.dogfooding {
	-fx-background-image : url("../images/splash/Dog_Fooding.jpg");
	-fx-background-position: center center;
	-fx-background-repeat : no-repeat;
}

BorderPane.raw Text {
	-fx-fill : #FFFFFF;
}

