/*.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}*/

#SlideStack{
	
	-fx-background-image : url("../splash/Splash_Screen.png");
	-fx-background-color: transparent;
    -fx-background-position: center center;
    -fx-background-size : stretch;
    
    -fx-fill : #A0DCFF ;
}

.intro .introTitle {
	-fx-font : 100px "mizike";
	-fx-fill: #CCCCCC;
}




#BasicSlide{
	 -fx-background-color: linear-gradient(to bottom, #c7b299 0%,#d9cbba 18%,#ede6de 40%,#f8f5f2 54%,#ffffff 67%,#fdfcfb 73%,#f2ede7 82%,#e0d5c7 91%,#c7b29a 100%);
}

.content {
	/*-fx-background-color: rgba(242,242,242,1.0);
	-fx-background-radius: 2px;*/
	-fx-padding : 20px 50px 20px 50px;
	
	-fx-background-color: linear-gradient(to bottom, #ffffff 0%, rgb(250, 250, 250) 79%, #736357 97%); 
	-fx-background-radius: 0 2px 0 0;
	
	-fx-effect: dropshadow( gaussian , rgba(140,111,72, 0.95) , 8 , 0.3 , 0 , 5 );
}


.header{
	
	/*-fx-fill:  linear-gradient(from 0% 0% to 100% 100%, white 100%, white 70%);*/
	/*-fx-background-color: rgba(255,255,255,0.6);*/
	/*-fx-background-radius: 8px;*/
}

.footer{
	
	/* -fx-fill:  linear-gradient(from 0% 0% to 100% 100%, white 100%, white 70%);*/
	/*-fx-background-color: rgba(255,255,255,0.6);
	-fx-background-radius: 8px;*/
	
    /* -fx-background-position: left bottom;*/

	/*-fx-background-image : url("../images/toulousejug_mini.png");
	-fx-background-repeat: no-repeat;*/
}


/*.classicContainer {
	
	-fx-padding : 20px;
	-fx-margin : 40px;

}*/

VBox.content {
	/*-fx-padding:30px;*/
	
	
}

.item0 {
	
	-fx-font : 4em "Neuton Cursive";
	-fx-fill : #F7741C;
}

.item1 {
	-fx-font : 2.4em "Neuton Cursive";
	-fx-fill : #665E4C;
}

.item2 {

	-fx-font : 2.4em "Neuton Cursive";
	-fx-fill : #C29D68;
}
 
.link0 {
	-fx-font : 2.4em "Neuton Cursive";
	-fx-fill : #004442;
}
.link1 {
	-fx-font : 2em "Neuton Cursive";
	-fx-fill : #665E4C;
}

/**
 * Place Slide
 */
/*StackPane.place {
	-fx-background-position: left top;	
	-fx-background-image-size: stretch stretch;
	-fx-background-repeat: no-repeat;
	-fx-background-image : url("../images/intro/1280px-Toulouse_Capitole_Night_Wikimedia_Commons.jpg");
}*/

/**
 * Me Slide
 */
VBox.me{
	-fx-background-position: 600px 20px, 600px 270px;	
	-fx-background-repeat: no-repeat, no-repeat, no-repeat;
	-fx-background-image : url("../images/me/seb.jpg"), url("../images/me/JRebirth_128x128.png");
}

/**************************************/
/** 			SPLASHES             **/
/**************************************/

.partX .introTitle {
	-fx-font : 80px "White Rabbit";
	-fx-fill: #CCCCCC;
}
.partX{
	-fx-background-image : url("../images/splash/Splash_Screen.png");
	-fx-background-position: center center;
	-fx-background-repeat : no-repeat;
}

.splashContainer, .intro {
	/*-fx-background-color: transparent;
    -fx-background-position: right bottom;	
   	*/
   	-fx-background-image : url("../images/splash/Splash_Screen.png");
	-fx-background-position: center center;
	-fx-background-repeat : no-repeat;
}

.splashText{
	-fx-fill : #CCCCCC; /*#A0DCFF ;*/
	-fx-text-alignment : center;
	-fx-font: 65px  "Gorgonzolla";
	/* -fx-padding : 10px;*/
}

.dogfooding .introTitle {
	-fx-font : 70px "White Rabbit";
	-fx-fill: #CCCCCC;
}

/** DogFooding */
.dogfooding {
	-fx-background-image : url("../images/splash/Dog_Fooding.jpg");
	-fx-background-position: center center;
	-fx-background-repeat : no-repeat;
}

BorderPane.raw Text {
	-fx-fill : #FFFFFF;
}

